<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="statsTab" href="/tabs/statsTab">
      <ion-icon aria-hidden="true" name="bar-chart-sharp"></ion-icon>
      <ion-label>Stats</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="trackingTab" href="/tabs/trackingTab">
      <ion-icon aria-hidden="true" name="navigate-circle"></ion-icon>
      <ion-label>Tracking</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="settingsTab" href="/tabs/settingsTab">
      <ion-icon aria-hidden="true" name="settings-sharp"></ion-icon>
      <ion-label>Settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
