.tracking-control {
    height: 64px;
    margin: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tracking-button {
    min-width: 80px;
    max-width: 90%;
    width: 160px;
}